.posts {
  a {
    display: block;
    margin-bottom: 2rem;

    strong {
      color: var(--heading);
      font-size: 28px;
      font-weight: bold;
      line-height: 34px;
    }

    p {
      color: var(--body);
      font-size: 18px;
      line-height: 22px;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }

  button {
    background: transparent;
    border: none;
    color: var(--hightlight);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 1rem;
  }
}
