.container {
  max-width: 700px;
  margin: 0 auto;
}

.publicationInfo {
  color: var(--info);
  font-size: 14px;
  line-height: 17px;

  time, span {
    padding-right: 1rem;
  }

  div {
    margin-top: 1rem;
  }
}
